<!DOCTYPE html>
{% load static %}
<html land = "en">

    <body>
    <div class="v214_177">
        <div class="v230_212">
            <div class="v243_114">
                <div class="v243_115">

                </div>
                <div class="v243_116"></div>
                <div class="v243_117"></div>
                <div class="v243_118"></div>
                <div class="v243_119"></div>
                <div class="v243_120"></div>
                <div class="v243_121"></div>
                <div class="v243_122"></div>
            </div><div class="v214_235"><div class="v214_236">

        </div>
            <div class="v214_237"></div>
        </div>
            <div class="v214_197"></div>
            <span class="v214_200">Логин</span>
            <span class="v214_201">Пароль</span>
            <span class="v214_202">Уже зарегистрированы?</span>
            <span class="v214_203">Войти</span>
            <span class="v214_233">Повторите пароль</span>
            <div class="v214_198"></div><div class="v214_234">

        </div><span class="v214_196">Регистрация</span>
        </div></div>
    </body>
</html>