<!DOCTYPE html>
{% load static %}
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href ="../../../static/styles/input.css" >
    <title>Document</title>
</head>
<body>
    <div class="v243_123">
        <div class="v243_125">
            <div class="v243_126"></div>
            <div class="v243_127"></div>
            <div class="v243_128"></div>
            <div class="v243_129"></div>
            <div class="v243_130"></div>
            <div class="v243_131"></div>
            <div class="v243_132"></div>
            <div class="v243_133"></div>
        </div>
        <div class="v243_146">
            <span class="v243_141">Регистрация</span>
            <a href="home" class="v243_141">Регистрация</a>
            <span class="v243_140">Еще не зарегистрированы?</span>
            <div class="v243_134">
                <div class="v243_135"></div>
                <div class="v243_136"></div>
            </div>
            <div class="v243_137"></div>
            <span class="v243_138">Логин</span>
            <span class="v243_139">Пароль</span>
            <div class="v243_143"></div>
            <span class="v243_145">Вход</span>
        </div>
    </div>
</body>
</html>