* {
  box-sizing: border-box;
}
body {
  font-size: 14px;

  .v243_123 {
    width: 100%;
    height: 720px;
    background: rgba(230, 210, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v243_125 {
    width: 813px;
    height: 348px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.3499999940395355;
    position: absolute;
    top: 177px;
    left: 233px;
    overflow: hidden;
  }

  .v243_126 {
    width: 194px;
    height: 77px;
    background: rgba(153, 119, 180, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 304px;
  }

  .v243_127 {
    width: 273px;
    height: 52px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 0px;
  }

  .v243_128 {
    width: 281px;
    height: 188px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 90px;
  }

  .v243_129 {
    width: 262px;
    height: 196px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 405px;
  }

  .v243_130 {
    width: 260px;
    height: 291px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 286px;
  }

  .v243_131 {
    width: 252px;
    height: 116px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 220px;
    left: 475px;
  }

  .v243_132 {
    width: 713px;
    height: 69px;
    background: rgba(255, 242, 251, 1);
    opacity: 1;
    position: absolute;
    top: 278px;
    left: 100px;
  }

  .v243_133 {
    width: 144px;
    height: 183px;
    background: rgba(153, 119, 180, 1);
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 249px;
  }

  .v243_146 {
    width: 476px;
    height: 353px;
    background: url("../images/v243_146.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 429px;
    overflow: hidden;
  }

  .v243_141 {
    width: 140px;
    color: rgba(18, 7, 48, 1);
    position: absolute;
    top: 330px;
    left: 336px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }

  .v243_140 {
    width: 304px;
    color: rgba(18, 7, 48, 1);
    position: absolute;
    top: 330px;
    left: 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }

  .v243_134 {
    width: 66px;
    height: 66px;
    background: url("../images/v243_134.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 406px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v243_135 {
    width: 66px;
    height: 66px;
    background: rgba(248, 245, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .v243_136 {
    width: 48px;
    height: 45px;
    background: rgba(18, 7, 48, 1);
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 62px;
  }

  .v243_137 {
    width: 383px;
    height: 66px;
    background: rgba(247, 244, 255, 1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
  }

  .v243_138 {
    width: 80px;
    color: rgba(18, 7, 48, 1);
    position: absolute;
    top: 98px;
    left: 4px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }

  .v243_139 {
    width: 97px;
    color: rgba(18, 7, 48, 1);
    position: absolute;
    top: 205px;
    left: 2px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }

  .v243_143 {
    width: 383px;
    height: 66px;
    background: rgba(248, 245, 255, 1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v243_145 {
    width: 105px;
    color: rgba(17, 7, 48, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
}